<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El rincón del Cine - Tickets</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}" />
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/step3.js}"></script>
    <script>
      let MaxNumButacasToSelect = 3;
      let NumButacasSelected = 0;
    </script>
      <div class="cuerpo">
        <div class="CabResumenFac"><p>Datos de facturación</p></div>
        <div class="CuerResumen">
          <p><span>Nombre:</span> <span th:text="${formularioReserva.fnom}"></span></p>
          <p><span>Apellidos:</span> <span th:text="${formularioReserva.fapell}"></span></p>
          <p><span>E-mail:</span> <span th:text="${formularioReserva.fmail}"></span></p>
        </div>
        <div class="CabResumenBuy"><p>Resumen de la reserva</p></div>
        <div class="CuerResumen">
          <p><span>Película:</span> <span th:text="${formularioReserva.tituloPelicula}"></span></p>
          <p><span>Sala:</span> <span th:text="${formularioReserva.numSala}"></span></p>
          <p><span>Fecha:</span> <span th:text="${formularioReserva.fdate}"></span></p>
          <p><span>Sesión:</span> <span th:text="${formularioReserva.fhour}"></span></p>
          <p><span>Adultos:</span> <span th:text="${formularioReserva.fnumentradasadult}"></span> x 6.0€</p>
          <p><span>&lt; 12 años:</span> <span th:text="${formularioReserva.fnumentradasmen}"></span> x 3.5€</p>
          <p><span>Butacas:</span> <span th:text="${formularioReserva.butacasSeleccionadas}"></span></p>
        </div>
        <div class="CabResumenFac">
          <p><span>TOTAL: <span th:text="${total}"></span> €</span></p>
        </div>
        <div class="CabResumenBuy"><p>Códigos QR de los tickets</p></div>
        <div class="CuerResumen">
          <ul>
            <li th:each="qr : ${qrCodes}">
              <span th:text="${qr}"></span>
            </li>
          </ul>
        </div>
        <div class="DatTarjeta">
          <a class="homebtn" th:href="@{/home}">&nbsp;Inicio</a>
        </div>
            <!--
                 -->
            <div class="EntradaCuer">
              <img src="../img/means/entrada-cue.gif" alt="ticket" />
              <p class="EntrPeliculaTitle">Película: <span>LightYear</span></p>
              <p class="EntrSalaTitle">Sala: <span>2</span></p>
              <p class="EntrFechaVal">15/10/2022</p>
              <p class="EntrHoraVal">+20:00h</p>
              <p class="EntrButacaVal1">Fila: 5</p>
              <p class="EntrButacaVal2">Butaca: 4</p>
              <img
                class="ImagenQR"
                src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=10000065523281323"
                alt="QR"
              />
            </div>
          </div>
        </div>
        <div class="EntregaEntradas">
          <form>
            <a class="homebtn" th:href="@{/home}">&nbsp;</a>
          </form>
        </div>
      </div>
      <div class="pie">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </body>
</html>
