<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>El rincón del Cine - Tickets</title>
		<link rel="stylesheet" th:href="@{/styles/estilos.css}" />
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/js/step3.js}"></script>
		<script>
			let MaxNumButacasToSelect = 3;
			let NumButacasSelected = 0;
		</script>
	</head>
	<body>
		<div class="bas">
			<div class="Slogan"><div class="NomSitio"></div></div>
		</div>
		<div class="base">
			<div class="cabecera">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="subcabecera"><p>¡¡ Compra realizada con éxtio !!</p></div>
			<div class="cuerpo">
				<div class="EntregaEntradas">
					<p>
						La compra ha sido realizada con éxito. En breve se enviará un correo
						electrónico a
						<span th:text="${formularioReserva.fmail}"
							>danielperezperez@ieselrincon.es</span
						>
					</p>
					<p>
						Si desea imprimir las entradas haga click
						<a th:href="@{/imprimirTicket.html}" target="_blank">aquí</a>.
						También puede capturar los códigos QR que se muestran a
						continuación.
					</p>
				</div>
				<div class="EntregaEntradas">
					<div class="Entrada" th:each="entrada : ${entradas}">
						<div class="EntradaCab">
							<img th:src="@{/img/means/entrada.gif}" alt="ticket" />
							<p class="EntrCodeTitle">Código</p>
							<p class="EntrCodeVal" th:text="${entrada.codigo}">
								1000006372127372
							</p>
							<p class="EntrPeliculaTitle">Película</p>
							<p class="EntrPeliculaVal" th:text="${entrada.pelicula}">
								LightYear
							</p>
							<p class="EntrSala">
								<span>Sala:</span> <span th:text="${entrada.sala}">2</span>
							</p>
							<p class="EntrFechaVal">
								Fecha: <span th:text="${entrada.fecha}">15/10/2022</span>
							</p>
							<p class="EntrHoraVal">
								Hora: <span th:text="${entrada.hora}">+20:00h</span>
							</p>
							<p class="EntrButacaVal">
								Fila: <span th:text="${entrada.fila}">5</span>, Butaca:
								<span th:text="${entrada.butaca}">2</span>
							</p>
						</div>
						<div class="EntradaCuer">
							<img th:src="@{/img/means/entrada-cue.gif}" alt="ticket" />
							<p class="EntrPeliculaTitle">
								Película: <span th:text="${entrada.pelicula}">LightYear</span>
							</p>
							<p class="EntrSalaTitle">
								Sala: <span th:text="${entrada.sala}">2</span>
							</p>
							<p class="EntrFechaVal" th:text="${entrada.fecha}">15/10/2022</p>
							<p class="EntrHoraVal" th:text="${entrada.hora}">+20:00h</p>
							<p class="EntrButacaVal1">
								Fila: <span th:text="${entrada.fila}">5</span>
							</p>
							<p class="EntrButacaVal2">
								Butaca: <span th:text="${entrada.butaca}">2</span>
							</p>
							<img
								class="ImagenQR"
								th:src="'https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=' + ${entrada.codigo}"
								alt="QR"
							/>
						</div>
					</div>
				</div>
				<div class="EntregaEntradas">
					<form>
						<a class="homebtn" th:href="@{/home}">&nbsp;</a>
					</form>
				</div>
			</div>
			<div class="pie">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</body>
</html>
