<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - Reserva</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>

  <div class="base">
    <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="subcabecera">
      <div class="CuentaAtrasTres"></div>
      <p>&nbsp;Introduzca los datos</p>
    </div>
    <div class="cuerpo" th:style="'background-image: url(' + ${formularioReserva.imgSelec} + ');'">
      <form class="Fdatares" name="Fdatareserva"
        th:method="post"
        th:action="@{/step2}"
        th:object="${formularioReserva}">
        <input type="hidden" th:field="*{imgSelec}" />
        <input type="hidden" th:field="*{idSesion}" />
        <input type="hidden" th:field="*{idPelicula}" />
        <input type="hidden" th:field="*{numSala}" />
        <input type="hidden" th:field="*{tituloPelicula}" />
        <div class="mini-billboard-selected">
          <div>
            <div th:style="'background-image: url(' + ${formularioReserva.imgSelec} + ');'"></div>
          </div>
        </div>
        <div class="info-sala">
          <p><strong>Sala:</strong> <span th:text="*{numSala}"></span></p>
          <p><strong>Pelicula:</strong> <span th:text="*{tituloPelicula}"></span></p>
        </div>
        <div th:if="${mensajeError}" style="color: red; font-weight: bold; margin-bottom: 10px;">
          <span th:utext="${mensajeError}"></span>
        </div>
        <div class="DatPer">
          <div>
            <label>Nombre:</label>
            <input type="text" th:field="*{fnom}" th:style="${errorFnom} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
          </div>
          <div>
            <label>Apellidos:</label>
            <input type="text" th:field="*{fapell}" th:style="${errorFapell} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
          </div>
          <div>
            <label>e-mail:</label>
            <input type="text" th:field="*{fmail}" th:style="${errorFmail} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
          </div>
          <div>
            <label>Repetir e-mail:</label>
            <input type="text" th:field="*{frepmail}" th:style="${errorFrepmail} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
          </div>
        </div>
        <div class="DatRes">
          <div>
            <label>Fecha:</label>
            <input type="date" th:field="*{fdate}" min="2022-09-10" max="2026-12-01" th:style="${errorFdate} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
          </div>
          <div>
            <label>Hora:</label>
            <input type="time" th:field="*{fhour}" list="popularHours" min="17:00" max="23:00" step="10800" th:style="${errorFhour} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" />
            <datalist id="popularHours">
              <option value="17:00">
              <option value="20:00">
              <option value="23:00">
            </datalist>
          </div>
          <div class="VerticalAling">
            <label class="numentradas">Nº adultos:</label>
            <input type="number" th:field="*{fnumentradasadult}" min="1" max="60" step="1" th:style="${errorFnumentradasadult} ? 'border-color: red; box-shadow: 0 0 4px red;' : ''" required />
          </div>
          <div class="VerticalAling">
            <label class="numentradas">Nº menores 12 años:</label>
            <input type="number" th:field="*{fnumentradasmen}" min="0" max="60" step="1" required />
          </div>
        </div>
        <div>
          <div>
            <a class="atrasbtn" th:href="@{step1}">&lt;&lt; Atras</a>
            <a class="homebtn" th:href="@{index}">&nbsp;</a>
            <input type="submit" value="Siguiente &gt;&gt;" />
          </div>
        </div>
      </form>
    </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>